File Hnadling in Python

In [1]:
open('test.txt', 'x')

In [7]:
f=open('test.txt', 'w')
f.write('python file handling')
f.close()

In [8]:
f=open('test.txt', 'r')
print(f.read())

python file handling

In [9]:
f=open('test.txt', 'a')
f.write('machine learnign and bigdata analytics using hadoop, spark and aws')
f.close()

In [10]:
f=open('test.txt', 'a')
f.write('\n AWS iot core service used to implement iot')
f.close()

In [11]:
f=open('test.txt', 'r')
print(f.read())

python file handlingmachine learnign and bigdata analytics using hadoop, spark and aws
 AWS iot core service used to implement iot

In [19]:
import requests
r=requests.get('https://google.com')
f=open('google.html','w')
f.write(r.text)
f.close()

In [20]:
r.text

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world\'s information, including webpages, images, videos and more. Google has many special features to help you find exactly what you\'re looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2022/charlie-hills-71st-birthday-6753651837109460.3-l.png" itemprop="image"><meta content="Charlie Hill\'s 71st Birthday" property="twitter:title"><meta content="Charlie Hill\'s 71st Birthday #GoogleDoodle" property="twitter:description"><meta content="Charlie Hill\'s 71st Birthday #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2022/charlie-hills-71st-birthday-6753651837109460-2x.png" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2022/charlie-hills-71st-birthday-6753651837109460-2x.png" property="og:image"><meta content="950" property="og:image:width"><meta content="380" property="og:image:height"><title>Google</title><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){window.google={kEI:\'hJPFYvz6IKyuptQP3dqJgAU\',kEXPI:\'0,1302536,56873,6059,206,4804,2316,383,246,5,1354,4013,1123753,1197763,380728,16114,28684,17572,4859,1361,9291,3028,17580,4020,978,13228,3847,3600,7022,14763,7978,2372,2709,1593,1279,2453,289,149,1103,840,1983,213,4101,4120,2023,2297,14670,3229,2843,9,5597,11851,16320,1851,15324,432,3,346,1244,1,3371,2074,148,11323,2652,4,1528,2304,7039,4887,3111,14025,3050,2658,7357,13658,2980,1457,15351,1435,5797,2560,4094,17,4035,3,3541,1,14711,27449,2,14016,2373,342,3248,8153,11623,5679,1020,2381,2718,18261,1,8,7753,4568,6259,23418,1249,5838,14967,4333,2204,2083,1802,1395,445,2,2,1,26554,78,1463,6692,2566,4016,568,231,2,3,7,1389,1642,8730,2907,7341,4447,10008,7,1922,5703,3466,57,553,24,5415,901,202,346,1277,1663,2,5893,3407,1509,1294,2489,4491,1547,862,2281,1773,749,29,291,5078,584,116,462,27,1377,651,116,655,1,4,1,2,211,2,1,3159,3,2293,446,279,92,597,567,123,415,285,4,1,2,2,2,2,2750,861,2,1790,71,1358,97,924,18,1566,150,93,743,135,1346,617,155,16,164,828,1,95,136,19,2391,280,659,19,976,2,527,3,1,3,189,808,57,10,4,854,3,177,249,277,2,1047,205,177,5387899,1874,3457,125,8799672,3306,141,795,19735,1,1,346,363,4,4,3,1,4,57,1,5,1,3,3,3,3,3,5,1,5,3,3,172,1,23949836,2738465,1303678,1964,1008,1927,159,1358,12221,2395,161,391,458,491,226,4823,411\',kBL:\'JH2P\'};google.sn=\'webhp\';google.kHL=\'en\';})();(function(){\nvar f=this||self;var h,k=[];function l(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||h}function m(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}\nfunction n(a,b,c,d,g){var e="";c||-1!==b.search("&ei=")||(e="&ei="+l(d),-1===b.search("&lei=")&&(d=m(d))&&(e+="&lei="+d));d="";!c&&f._cshid&&-1===b.search("&cshid=")&&"slh"!==a&&(d="&cshid="+f._cshid);c=c||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+"&zx="+Date.now()+d;/^http:/i.test(c)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:c,glmm:1}),c="");return c};h=google.kEI;google.getEI=l;google.getLEI=m;google.ml=function(){return null};google.log=function(a,b,c,d,g){if(c=n(a,b,c,d,g)){a=new Image;var e=k.length;k[e]=a;a.onerror=a.onload=a.onabort=function(){delete k[e]};a.src=c}};google.logUrl=n;}).call(this);(function(){\ngoogle.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};}).call(this);google.f={};(function(){\ndocument.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1558d6}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#4b11a8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1558d6}a:visited{color:#4b11a8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}</style><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){window.google.erd={jsr:1,bv:1610,de:true};\nvar f=this||self;var g,h=null!=(g=f.mei)?g:1,m,n=null!=(m=f.sdo)?m:!0,p=0,q,r=google.erd,u=r.jsr;google.ml=function(a,b,d,k,c){c=void 0===c?2:c;b&&(q=a&&a.message);if(google.dl)return google.dl(a,c,d),null;if(0>u){window.console&&console.error(a,d);if(-2===u)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||p>=h&&!k?!1:!0;if(!b)return null;p++;d=d||{};var e=c;c=encodeURIComponent;b="/gen_204?atyp=i&ei="+c(google.kEI);google.kEXPI&&(b+="&jexpid="+c(google.kEXPI));b+="&srcpg="+c(google.sn)+"&jsr="+c(r.jsr)+"&bver="+c(r.bv)+("&jsel="+e);e=a.lineNumber;void 0!==e&&(b+="&line="+\ne);var l=a.fileName;l&&(b+="&script="+c(l),e&&l===window.location.href&&(e=document.documentElement.outerHTML.split("\\n")[e],b+="&cad="+c(e?e.substring(0,300):"No script found.")));for(var t in d)b+="&",b+=c(t),b+="=",b+=c(d[t]);b=b+"&emsg="+c(a.name+": "+a.message);b=b+"&jsst="+c(a.stack||"N/A");12288<=b.length&&(b=b.substr(0,12288));a=b;k||google.log(0,"",a);return a};window.onerror=function(a,b,d,k,c){q!==a&&(a=c instanceof Error?c:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)?2:0));q=null;n&&p>=h&&(window.onerror=null)};})();</script></head><body bgcolor="#fff"><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"><div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="https://www.google.com/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="https://maps.google.com/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="https://www.youtube.com/?gl=US&tab=w1">YouTube</a> <a class=gb1 href="https://news.google.com/?tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.com/intl/en/about/products?tab=wh"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.com/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div></div><center><br clear="all" id="lgpd"><div id="lga"><a href="/search?ie=UTF-8&amp;q=Charlie+Hill+&amp;oi=ddle&amp;ct=207425508&amp;hl=en&amp;si=AC1wQDBgv4q3A2ojf086TvVgL6tTfKEZW2vrlR3V2uQ-r4wcbqk0JlZE7YUIl2cJq9_5NvkTVbSk5dqCfJzacn0BOyi1bCeuiJ5stAzEfliCYUWU08FTRa4%3D&amp;sa=X&amp;ved=0ahUKEwj8zMSxtOT4AhUsl4kEHV1tAlAQPQgD"><img alt="Charlie Hill\'s 71st Birthday" border="0" height="200" src="/logos/doodles/2022/charlie-hills-71st-birthday-6753651837109460.3-l.png" title="Charlie Hill\'s 71st Birthday" width="500" id="hplogo"><br></a><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input class="lst" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000" autocomplete="off" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid1" value="I\'m Feeling Lucky" name="btnI" type="submit"><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){var id=\'tsuid1\';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}\nelse top.location=\'/doodles/\';};})();</script><input value="AJiK0e8AAAAAYsWhlF3KpoJSmCxeldo6gQfby8hzwxTG" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en&amp;authuser=0">Advanced search</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){\nvar a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="WqQANb"><a href="/intl/en/ads/">Advertising\xa0Programs</a><a href="/services/">Business Solutions</a><a href="/intl/en/about.html">About Google</a></div></div><p style="font-size:8pt;color:#70757a">&copy; 2022 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){window.google.cdo={height:757,width:1440};(function(){\nvar a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script> <script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){google.xjs={ck:\'xjs.hp.4ZKIt-GhAxE.L.X.O\',cs:\'ACT90oHhi6aop6vzjvEitTbMAVumZAErBA\',excm:[]};})();</script>  <script nonce="FBV4MUNJ57OuQ0fD3IN5rw">(function(){var u=\'/xjs/_/js/k\\x3dxjs.hp.en_US.3JyjGt8RugE.O/am\\x3dAOAJAEACIAE/d\\x3d1/ed\\x3d1/rs\\x3dACT90oFy37ua9g-Wyuqq8bklwPf4Kq2dlQ/m\\x3dsb_he,d\';\nvar d=this||self,e=function(a){return a};var g;var l=function(a,b){this.g=b===h?a:""};l.prototype.toString=function(){return this.g+""};var h={};\nfunction n(){var a=u;google.lx=function(){p(a);google.lx=function(){}};google.bx||google.lx()}\nfunction p(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=document;var c="SCRIPT";"application/xhtml+xml"===b.contentType&&(c=c.toLowerCase());c=b.createElement(c);if(void 0===g){b=null;var k=d.trustedTypes;if(k&&k.createPolicy){try{b=k.createPolicy("goog#html",{createHTML:e,createScript:e,createScriptURL:e})}catch(q){d.console&&d.console.error(q.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;a=new l(a,h);c.src=a instanceof l&&a.constructor===l?a.g:"type_error:TrustedResourceUrl";var f,m;(f=(a=null==(m=(f=(c.ownerDocument&&c.ownerDocument.defaultView||window).document).querySelector)?void 0:m.call(f,"script[nonce]"))?a.nonce||a.getAttribute("nonce")||"":"")&&c.setAttribute("nonce",f);document.body.appendChild(c);google.psa=!0};google.xjsu=u;setTimeout(function(){n()},0);})();function _DumpException(e){throw e;}\nfunction _F_installCss(c){}\n(function(){google.jl={attn:false,blt:\'none\',chnk:0,dw:false,dwu:true,emtn:0,end:0,ine:false,injs:\'none\',injt:0,injth:0,injv2:false,lls:\'default\',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc=\'{\\x22d\\x22:{},\\x22sb_he\\x22:{\\x22agen\\x22:false,\\x22cgen\\x22:false,\\x22client\\x22:\\x22heirloom-hp\\x22,\\x22dh\\x22:true,\\x22dhqt\\x22:true,\\x22ds\\x22:\\x22\\x22,\\x22ffql\\x22:\\x22en\\x22,\\x22fl\\x22:true,\\x22host\\x22:\\x22google.com\\x22,\\x22isbh\\x22:28,\\x22jsonp\\x22:true,\\x22msgs\\x22:{\\x22cibl\\x22:\\x22Clear Search\\x22,\\x22dym\\x22:\\x22Did you mean:\\x22,\\x22lcky\\x22:\\x22I\\\\u0026#39;m Feeling Lucky\\x22,\\x22lml\\x22:\\x22Learn more\\x22,\\x22oskt\\x22:\\x22Input tools\\x22,\\x22psrc\\x22:\\x22This search was removed from your \\\\u003Ca href\\x3d\\\\\\x22/history\\\\\\x22\\\\u003EWeb History\\\\u003C/a\\\\u003E\\x22,\\x22psrl\\x22:\\x22Remove\\x22,\\x22sbit\\x22:\\x22Search by image\\x22,\\x22srch\\x22:\\x22Google Search\\x22},\\x22ovr\\x22:{},\\x22pq\\x22:\\x22\\x22,\\x22refpd\\x22:true,\\x22rfs\\x22:[],\\x22sbas\\x22:\\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\\x22,\\x22sbpl\\x22:16,\\x22sbpr\\x22:16,\\x22scd\\x22:10,\\x22stok\\x22:\\x2214I8z-ycyOitATU_ytTg-O3wa-o\\x22,\\x22uhde\\x22:false}}\';google.pmc=JSON.parse(pmc);})();</script>        </body></html>'

In [24]:
# generator

def square(n):
     for i in range(n):
        return i**2

In [26]:
out= square(5)

In [27]:
type(out)

int

In [30]:
def square(n):
     for i in range(n):
            yield i**2

In [31]:
out=square(5)

In [32]:
type(out)

generator

In [33]:
for i in out:
    print(i)

0
1
4
9
16

python unit testing

Robot
Pytest
unitest
DocTest
Testify

In [34]:
!pip install pytest

Requirement already satisfied: pytest in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (7.1.1)
Requirement already satisfied: attrs>=19.2.0 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (21.4.0)
Requirement already satisfied: iniconfig in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.1.1)
Requirement already satisfied: packaging in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.0.0)
Requirement already satisfied: py>=1.8.2 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from packaging->pytest) (3.0.4)

In [35]:
%%writefile mathfile.py


def add(a,b):
    return a+b

def sub(a,b):
    return a-b

def multiply(a,b):
    return a*b

Writing mathfile.py

In [37]:
%%writefile test_mathfile.py

import mathfile

def test_add():
    output=mathfile.add(2,3)
    assert output==5
    
def test_sub():
    output=mathfile.sub(4,3)
    assert output==1

def test_multiply():
    output=mathfile.multiply(2,3)
    assert output==6

Overwriting test_mathfile.py

In [38]:
%%writefile rect_calc.py

def area(a,b):
    return a*b
def perimeter(a,b):
    return 2*a+2*b

Writing rect_calc.py

In [41]:
%%writefile test_rect_calc.py

import rect_calc

def test_area():
    output=rect_calc.area(5,10)
    assert output==50
def test_perimeter():
    output=rect_calc.perimeter(4,10)
    assert output==28

Overwriting test_rect_calc.py

In [43]:
%%writefile conftest.py

import pytest
@pytest.fixture

def input_data():
    total=100
    return total

Writing conftest.py

In [44]:
%%writefile test_logic.py

import pytest

def test_total_by_5(input_data):
    assert input_data%5==0
def test_total_by_10(input_data):
    assert input_data%10==0

Writing test_logic.py

In [45]:
def abc(a,b):
    return a+b

In [46]:
abc(45,69)

114

In [47]:
def abc(*a):
    return sum(a)

In [48]:
abc(56,78,23,78,95,64,87)

481

python - data analysis / exploration

In [49]:
import numpy as np
import pandas as pd

In [50]:
a=np.array([45,56,89,56,56])

In [51]:
data={
    "Name":['ashish','harsh','jhon','mack','julee','ankit'],
    "Age":[32,45,56,33,30,47],
    "Gender":['male','male','male','male','female','male'],
    "Credit_Score":[784,458,652,785,525,652],
    "HasCrCard":['yes','no','yes','no','yes','yes'],
    "Salary":[4578,56895,568945,25564,56896,568925]
    
}

In [52]:
type(data)

dict

In [53]:
data=pd.DataFrame(data)

In [54]:
type(data)

pandas.core.frame.DataFrame

In [55]:
data

     Name  Age  Gender  Credit_Score HasCrCard  Salary
0  ashish   32    male           784       yes    4578
1   harsh   45    male           458        no   56895
2    jhon   56    male           652       yes  568945
3    mack   33    male           785        no   25564
4   julee   30  female           525       yes   56896
5   ankit   47    male           652       yes  568925

In [56]:
data.shape

(6, 6)

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          6 non-null      object
 1   Age           6 non-null      int64
 2   Gender        6 non-null      object
 3   Credit_Score  6 non-null      int64
 4   HasCrCard     6 non-null      object
 5   Salary        6 non-null      int64
dtypes: int64(3), object(3)
memory usage: 416.0+ bytes

In [58]:
df=pd.read_csv('Bank_churn_modelling - Copy.csv')

In [59]:
df.shape

(10000, 14)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [61]:
data.columns

Index(['Name', 'Age', 'Gender', 'Credit_Score', 'HasCrCard', 'Salary'], dtype='object')

In [62]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [63]:
df['CreditScore']

0       619
1       608
2       502
3       699
4       850
       ...
9995    771
9996    516
9997    709
9998    772
9999    792
Name: CreditScore, Length: 10000, dtype: int64

In [65]:
df[['CreditScore','Gender','Age']]

      CreditScore  Gender  Age
0             619  Female   42
1             608  Female   41
2             502  Female   42
3             699  Female   39
4             850  Female   43
...           ...     ...  ...
9995          771    Male   39
9996          516    Male   35
9997          709  Female   36
9998          772    Male   42
9999          792  Female   28

[10000 rows x 3 columns]

In [66]:
df['Geography'].nunique()

3

In [67]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [68]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [71]:
df1=pd.read_parquet('Data_Subsetw.parquet')

In [70]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-8.0.0-cp39-cp39-macosx_10_13_x86_64.whl (22.4 MB)
     |████████████████████████████████| 22.4 MB 552 kB/s eta 0:00:011
Requirement already satisfied: numpy>=1.16.6 in /Users/jude/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-8.0.0

In [72]:
df1

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,150010683,2014-01-02,15490,0,0.000000,968.241042,2.173437,0.017292,0.000000,518.416667,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
1,150010683,2014-01-02,21778,0,4.200000,1160.834706,0.100000,0.016471,5.752941,385.282353,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,150163434,2014-01-02,110015,0,2.625000,2554.996042,2.238229,0.110937,0.000000,515.395833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,150163434,2014-01-02,110792,0,77.406250,151.083333,2.742708,0.246250,0.000000,294.625000,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,150219235,2014-01-02,53679,0,0.000000,1580.237158,1.148526,0.130105,1.473684,566.915789,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,150143993,2014-01-16,23809,1,1.020833,1197.916354,0.943958,0.010000,9.927083,164.218750,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,150143993,2014-01-16,86833,1,5.750000,1191.117135,1.289375,0.010000,2.625000,311.916667,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,150143993,2014-01-16,115796,1,3.204545,3018.831705,3.170455,0.035909,70.488636,295.420455,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,150143993,2014-01-16,132129,1,1.697917,1289.292917,1.670313,0.124896,0.083333,304.937500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,150143993,2014-01-16,142744,1,6.270833,1494.662292,0.562500,0.010000,0.000000,254.406250,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [73]:
df1.shape

(210, 75)

In [74]:
df1.size

15750

In [75]:
df1.head()

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,150010683,2014-01-02,15490,0,0.00000,968.241042,2.173437,0.017292,0.000000,518.416667,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
1,150010683,2014-01-02,21778,0,4.20000,1160.834706,0.100000,0.016471,5.752941,385.282353,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,150163434,2014-01-02,110015,0,2.62500,2554.996042,2.238229,0.110937,0.000000,515.395833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,150163434,2014-01-02,110792,0,77.40625,151.083333,2.742708,0.246250,0.000000,294.625000,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,150219235,2014-01-02,53679,0,0.00000,1580.237158,1.148526,0.130105,1.473684,566.915789,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2

In [76]:
df1.tail()

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
63,150143993,2014-01-16,23809,1,1.020833,1197.916354,0.943958,0.010000,9.927083,164.218750,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,150143993,2014-01-16,86833,1,5.750000,1191.117135,1.289375,0.010000,2.625000,311.916667,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,150143993,2014-01-16,115796,1,3.204545,3018.831705,3.170455,0.035909,70.488636,295.420455,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,150143993,2014-01-16,132129,1,1.697917,1289.292917,1.670313,0.124896,0.083333,304.937500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,150143993,2014-01-16,142744,1,6.270833,1494.662292,0.562500,0.010000,0.000000,254.406250,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [82]:
df1['Cell Fouling'].nunique()

130

In [83]:
df1['Cell Fouling'].unique()

array([0.00000000e+00, 4.20000000e+00, 2.62500000e+00, 7.74062500e+01,
       1.80000000e+01, 1.04200000e+01, 1.77884615e+00, 9.27083333e-01,
       6.48913043e+00, 6.11458333e+00, 2.09375000e+00, 3.77083333e+00,
       2.04545455e-01, 1.50978261e+01, 1.78181818e+00, 1.87500000e-01,
       1.16666667e+00, 2.39583333e-01, 2.21875000e+00, 8.73958333e+00,
       1.03958333e+01, 9.26041667e+00, 9.39583333e+00, 3.07692308e+00,
       9.28260870e+00, 7.33333333e+00, 2.89285714e+00, 4.27083333e+00,
       4.28125000e+00, 8.90109890e-01, 1.17083333e+01, 7.06315789e+00,
       1.17473684e+01, 1.36458333e+00, 1.60439560e+00, 8.32608696e+00,
       8.37500000e+00, 4.06250000e-01, 8.90625000e+00, 1.97916667e-01,
       6.98958333e+00, 4.00000000e+00, 3.00000000e+00, 1.38409091e+01,
       6.40000000e+01, 1.48400000e+01, 6.08333333e+00, 3.39772727e+00,
       5.44791667e+00, 2.27272730e-02, 1.00000000e+00, 1.00000000e+01,
       2.88000000e+00, 8.88000000e+00, 2.01458333e+01, 1.86630435e+01,
       2.59375000e+00, 4.59139785e+00, 3.11956522e+00, 5.77894737e+00,
       1.12500000e+01, 4.51648352e+00, 1.27604167e+01, 2.01041667e+00,
       1.64583333e+00, 9.16666667e-01, 2.00000000e+00, 3.68131868e+00,
       8.33333333e-01, 3.64583333e-01, 1.96875000e+00, 1.17916667e+01,
       8.65625000e+00, 1.11052632e+01, 1.60104167e+01, 5.58333333e+00,
       8.00000000e+00, 7.29166667e-01, 5.33333333e+00, 3.25000000e+00,
       6.69791667e+00, 1.40000000e+01, 5.23863636e+00, 2.56250000e+00,
       1.62765957e+01, 7.53125000e+00, 4.11458333e+00, 2.10416667e+00,
       8.04166667e+00, 3.12500000e-02, 1.82291667e+00, 2.04166667e+00,
       4.02083333e+00, 1.20000000e+01, 7.06250000e+00, 2.25000000e+00,
       2.08333330e-02, 1.94791667e+00, 4.76041667e+00, 1.07500000e+01,
       6.54166667e+00, 1.57500000e+01, 1.18842105e+01, 1.13623188e+01,
       1.04673913e+01, 1.35104167e+01, 2.68478261e+00, 1.30000000e+01,
       3.70937500e+01, 5.61151079e-01, 7.50000000e+00, 2.53846154e+00,
       1.27812500e+01, 6.65625000e+00, 4.41935484e+00, 1.09583333e+01,
       5.29166667e+00, 5.07291667e+00, 3.05937500e+01, 1.31875000e+01,
       6.12500000e+00, 2.81250000e+00, 3.95937500e+01, 3.65625000e+00,
       1.30888889e+01, 1.02083333e+00, 5.75000000e+00, 3.20454545e+00,
       1.69791667e+00, 6.27083333e+00])

In [84]:
df1.dtypes

ShipTo                           int64
measures_measureDate    datetime64[ns]
ControllerID                     int64
Result                           int64
Cell Fouling                   float64
                             ...
windSpd100mAvg                 float64
windSpd100mMax                 float64
wetBulbMin                     float64
wetBulbAvg                     float64
wetBulbMax                     float64
Length: 75, dtype: object

In [85]:
df1.columns

Index(['ShipTo', 'measures_measureDate', 'ControllerID', 'Result',
       'Cell Fouling', 'Conductivity', 'NCM 1', 'NCM 2',
       'Nonox Bio Relay On Time', 'ORP', 'Ox Bio Relay On Time', 'TRASAR Dose',
       'Tagged Polymer Dose', 'Temperature', 'Turbidity', 'pH', 'SBU',
       'CountryCode', 'Latitude', 'Longitude', 'cldCvrMin', 'cldCvrAvg',
       'cldCvrMax', 'dewPtMin', 'dewPtAvg', 'dewPtMax', 'feelsLikeMin',
       'feelsLikeAvg', 'feelsLikeMax', 'heatIndexMin', 'heatIndexAvg',
       'heatIndexMax', 'mslPresMin', 'mslPresAvg', 'mslPresMax', 'precip',
       'presTendMin', 'presTendAvg', 'presTendMax', 'radSolarMin',
       'radSolarAvg', 'radSolarMax', 'radSolarTot', 'relHumMin', 'relHumAvg',
       'relHumMax', 'sfcPresMin', 'sfcPresAvg', 'sfcPresMax', 'snowDepth',
       'snowfall', 'spcHumMin', 'spcHumAvg', 'spcHumMax', 'tempMin', 'tempAvg',
       'tempMax', 'windChillMin', 'windChillAvg', 'windChillMax', 'windDirAvg',
       'windDir80mAvg', 'windDir100mAvg', 'windSpdMin', 'windSpdAvg',
       'windSpdMax', 'windSpd80mMin', 'windSpd80mAvg', 'windSpd80mMax',
       'windSpd100mMin', 'windSpd100mAvg', 'windSpd100mMax', 'wetBulbMin',
       'wetBulbAvg', 'wetBulbMax'],
      dtype='object')

In [87]:
df1.drop('ShipTo',axis=1)

,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,Ox Bio Relay On Time,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,2014-01-02,15490,0,0.000000,968.241042,2.173437,0.017292,0.000000,518.416667,95.760417,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
1,2014-01-02,21778,0,4.200000,1160.834706,0.100000,0.016471,5.752941,385.282353,0.000000,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,2014-01-02,110015,0,2.625000,2554.996042,2.238229,0.110937,0.000000,515.395833,23.593750,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,2014-01-02,110792,0,77.406250,151.083333,2.742708,0.246250,0.000000,294.625000,33.020833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,2014-01-02,53679,0,0.000000,1580.237158,1.148526,0.130105,1.473684,566.915789,13.663158,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2014-01-16,23809,1,1.020833,1197.916354,0.943958,0.010000,9.927083,164.218750,71.000000,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,2014-01-16,86833,1,5.750000,1191.117135,1.289375,0.010000,2.625000,311.916667,15.927083,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,2014-01-16,115796,1,3.204545,3018.831705,3.170455,0.035909,70.488636,295.420455,122.954546,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,2014-01-16,132129,1,1.697917,1289.292917,1.670313,0.124896,0.083333,304.937500,5.552083,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,2014-01-16,142744,1,6.270833,1494.662292,0.562500,0.010000,0.000000,254.406250,7.312500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [88]:
#df1.drop() row ?

In [89]:
df1.value_counts()

ShipTo     measures_measureDate  ControllerID  Result  Cell Fouling  Conductivity  NCM 1     NCM 2     Nonox Bio Relay On Time  ORP         Ox Bio Relay On Time  TRASAR Dose  Tagged Polymer Dose  Temperature  Turbidity  pH        SBU  CountryCode  Latitude    Longitude    cldCvrMin  cldCvrAvg  cldCvrMax  dewPtMin  dewPtAvg  dewPtMax  feelsLikeMin  feelsLikeAvg  feelsLikeMax  heatIndexMin  heatIndexAvg  heatIndexMax  mslPresMin  mslPresAvg  mslPresMax  precip  presTendMin  presTendAvg  presTendMax  radSolarMin  radSolarAvg  radSolarMax  radSolarTot  relHumMin  relHumAvg  relHumMax  sfcPresMin  sfcPresAvg  sfcPresMax  snowDepth  snowfall  spcHumMin  spcHumAvg  spcHumMax  tempMin  tempAvg  tempMax  windChillMin  windChillAvg  windChillMax  windDirAvg  windDir80mAvg  windDir100mAvg  windSpdMin  windSpdAvg  windSpdMax  windSpd80mMin  windSpd80mAvg  windSpd80mMax  windSpd100mMin  windSpd100mAvg  windSpd100mMax  wetBulbMin  wetBulbAvg  wetBulbMax
150021707  2014-01-29            18709         0       11.105263     664.788842    0.577053  0.010000  0.000000                 267.726316  262.747368            71.601789    56.695579            50.792421    0.000000   7.330737  MN   GB            56.704322  -2.461136    89         99         100        33.4      37.5      41.1      28.3          30.4          35.2          36.4          39.8          43.2          993.7       1003.2      1008.4      0.33    -0.1          0.7         1.5          0            8.5          36.4         204.5        89.0       91.1       94.0       983.4       993.2       998.7       0.0        0.0       4.0        4.8        5.6        36.4     39.8     43.2     28.3          30.4          35.2          115         118            118             11.2        19.7        27.5        14.2           25.1           34.3           14.5            25.6            34.9            35.2        38.7        42.1          4
                                 18702         0       8.656250      313.666146    0.600729  0.068333  0.000000                 628.156250  34.541667             70.027187    62.256667            41.070729    5.925729   5.160625  MN   GB            56.704322  -2.461136    89         99         100        33.4      37.5      41.1      28.3          30.4          35.2          36.4          39.8          43.2          993.7       1003.2      1008.4      0.33    -0.1          0.7         1.5          0            8.5          36.4         204.5        89.0       91.1       94.0       983.4       993.2       998.7       0.0        0.0       4.0        4.8        5.6        36.4     39.8     43.2     28.3          30.4          35.2          115         118            118             11.2        19.7        27.5        14.2           25.1           34.3           14.5            25.6            34.9            35.2        38.7        42.1          4
                                 20102         0       5.583333      305.721146    0.463333  0.030104  0.000000                 630.833333  3.822917              12.468646    20.756458            65.941771    2.341563   5.919479  MN   GB            56.704322  -2.461136    89         99         100        33.4      37.5      41.1      28.3          30.4          35.2          36.4          39.8          43.2          993.7       1003.2      1008.4      0.33    -0.1          0.7         1.5          0            8.5          36.4         204.5        89.0       91.1       94.0       983.4       993.2       998.7       0.0        0.0       4.0        4.8        5.6        36.4     39.8     43.2     28.3          30.4          35.2          115         118            118             11.2        19.7        27.5        14.2           25.1           34.3           14.5            25.6            34.9            35.2        38.7        42.1          4
                                 18710         0       16.010417     520.869167    0.456250  0.077188  0.000000                 581.041667  16.364583             70.210729    65.575521            44.143750    0.358333   6.320417  MN   GB            56.704322  -2.461136    89         99         100        33.4      37.5      41.1      28.3          30.4          35.2          36.4          39.8          43.2          993.7       1003.2      1008.4      0.33    -0.1          0.7         1.5          0            8.5          36.4         204.5        89.0       91.1       94.0       983.4       993.2       998.7       0.0        0.0       4.0        4.8        5.6        36.4     39.8     43.2     28.3          30.4          35.2          115         118            118             11.2        19.7        27.5        14.2           25.1           34.3           14.5            25.6            34.9            35.2        38.7        42.1          4
                                 18704         0       10.000000     980.379583    0.642917  0.174896  0.000000                 709.885417  15.416667             70.128125    85.354896            43.314583    4.055313   7.182917  MN   GB            56.704322  -2.461136    89         99         100        33.4      37.5      41.1      28.3          30.4          35.2          36.4          39.8          43.2          993.7       1003.2      1008.4      0.33    -0.1          0.7         1.5          0            8.5          36.4         204.5        89.0       91.1       94.0       983.4       993.2       998.7       0.0        0.0       4.0        4.8        5.6        36.4     39.8     43.2     28.3          30.4          35.2          115         118            118             11.2        19.7        27.5        14.2           25.1           34.3           14.5            25.6            34.9            35.2        38.7        42.1          4
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ..
150045204  2014-01-16            16732         1       0.000000      1100.049703   5.562772  0.016139  0.000000                 345.188119  63.643564             52.326238    57.402574            80.550495    1.396931   8.717228  CH   GB            54.631765  -1.203490    4          68         100        39.5      41.3      44.4      34.7          37.4          41.6          41.8          43.7          45.6          984.5       987.2       988.7       0.05    -1.0         -0.2         0.4          0            20.4         134.2        490.7        88.2       91.3       96.1       978.8       981.2       982.5       0.0        0.0       5.2        5.6        6.3        41.8     43.7     45.6     34.7          37.4          41.6          167         168            168             7.6         12.4        14.9        9.5            14.8           17.9           9.5             14.9            18.7            40.7        42.5        45.0          1
                                 16731         1       13.088889     1287.631222   0.555889  0.010000  336.933333               514.066667  63.922222             69.270667    60.777333            66.187667    30.290111  8.678556  CH   GB            54.631765  -1.203490    4          68         100        39.5      41.3      44.4      34.7          37.4          41.6          41.8          43.7          45.6          984.5       987.2       988.7       0.05    -1.0         -0.2         0.4          0            20.4         134.2        490.7        88.2       91.3       96.1       978.8       981.2       982.5       0.0        0.0       5.2        5.6        6.3        41.8     43.7     45.6     34.7          37.4          41.6          167         168            168             7.6         12.4        14.9        9.5            14.8           17.9           9.5             14.9            18.7            40.7        42.5        45.0          1
150043909  2014-01-09            26853         0       8.739583      1531.435521   1.632604  0.051667  371.447917               606.770833  57.343750             3.164828     7.167917             54.178646    0.000000   7.873750  CH   NL            51.925390   4.187660    0          30         100        51.4      53.5      55.9      56.3          61.8          67.2          57.0          62.0          67.2          1019.9      1020.5      1021.3      0.00    -0.4          0.1         0.6          0            207.7        713.3        4984.7       59.4       74.5       88.9       1019.8      1020.5      1021.3      0.0        0.0       8.0        8.6        9.4        57.0     62.0     67.2     56.3          61.8          67.2          263         263            263             2.7         5.5         7.1         3.1            7.0            9.4            3.1             7.2             9.7             54.8        57.1        59.1          1
150029219  2014-02-06            67633         0       10.750000     3250.965521   2.903750  0.010000  0.000000                 581.770833  22.447917             179.248854   103.602292           59.560417    2.988229   8.973229  CH   GB            52.037331  -0.683993    8          64         100        50.5      54.8      59.8      49.6          57.5          65.7          51.1          58.1          65.7          1015.2      1017.7      1020.4      0.12    -0.9         -0.2         0.4          0            287.3        852.0        6893.9       71.0       89.0       98.0       1004.2      1006.6      1009.2      0.0        0.0       7.8        9.2        11.0       51.1     58.1     65.7     49.6          57.5          65.7          222         223            223             3.3         5.1         7.4         4.2            7.0            10.6           4.3             7.0             10.6            50.8        56.1        61.2          1
500081530  2014-01-15            96326         0       8.326087      479.906522    2.625870  0.122826  72.043478                178.456522  85.456522             120.127283   97.287065            77.027826    3.599891   8.444457  FB   AU           -34.384000   146.030500  0          0          1          30.3      34.7      37.9      73.3          95.0          111.4         73.3          95.0          111.4         1007.5      1012.2      1015.8      0.00    -1.3         -0.2         0.8          0            378.8        1085.0       9091.1       7.0        13.0       25.1       993.8       997.8       1001.3      0.0        0.0       3.7        4.5        5.1        73.3     95.0     111.4    73.3          95.0          111.4         33          30             34              2.0         5.3         9.0         2.4            7.1            10.9           2.3             7.1             11.3            57.0        69.3        78.5          1
Length: 143, dtype: int64

In [90]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [91]:
df[(df.Age>30) & (df.Age<50)]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1